[2017-02-06 15:14] ozgurgundogan opened #7 "NonLinear SMV"
Hi ,
you are using formulas given below to calculate your accuracy.

prediction_output = tf.matmul(tf.mul(tf.transpose(y_target),b), pred_kernel)
prediction = tf.sign(prediction_output-tf.reduce_mean(prediction_output))
accuracy = tf.reduce_mean(tf.cast(tf.equal(tf.squeeze(prediction), tf.squeeze(y_target)), tf.float32))

you are using directly y_target (ground truth) to make a prediction and then

[2017-02-06 20:14] nfmcclure commented on #7
Hi @ozgurgundogan, thanks for bringing this to my attention.  There was some extra code lines in there from when I was exploring how to write this code.  I cleaned up the code a bit.  But I also added my best quick explanation in an Jupyter notebook here: https://github.com/nfmcclure/tensorflow_cookbook/blob/master/04_Support_Vector_Machines/05_Implementing_Nonlinear_SVMs/05_nonlinear_svm.ipynb

F

[2017-02-07 21:08] ozgurgundogan commented on #7
Thanks for your response. Actually I got my answer from your notebook. Thanks a lot again :) You can close the issue.

[2017-02-07 21:16] #7 closed

[2017-02-14 14:47] wegamekinglc opened #11 "1.0.0rc2 tensorflow has no attribute 'merge_all_summaries'"
This error will show up when I run the example [02_tensors.ipynb](https://github.com/nfmcclure/tensorflow_cookbook/blob/master/01_Introduction/02_Creating_and_Using_Tensors/02_tensors.ipynb)

[2017-02-14 15:00] nfmcclure commented on #11
Hi @wegamekinglc, The Tensorboard summary operations have depreciated and/or changed names with the 1.0.0 release.  I have not updated the code to reflect this yet.  But here are the changes for 1.0.0:
https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md

And here is a Tensorboard tutorial that has been updated:
https://www.tensorflow.org/how_tos/summaries_and_tensorboard/

You want to

[2017-02-14 15:01] nfmcclure commented on #11
I will keep this ticket open until I have fixed the code.  (Most likely this weekend). Thanks!

[2017-02-14 15:27] wegamekinglc commented on #11
@nfmcclure Thank you for your helpful advice! I will follow these links. I am really enjoying these notebooks and can't wait for the book!

[2017-02-15 19:15] mchirico opened #12 "Replace tf.initialize_all_variables() with tf.global_variables_initializer()?"
They seem to be making changes with TensorFlow

It looks like the following initialization should be used..

    init = tf.global_variables_initializer()

Below is the older code, which gives the following warning...

    init = tf.initialize_all_variables()

    WARNING:tensorflow:From <ipython-input-15-961de099ec6b>:61 in <module>.: initialize_all_variables (from tensorflow.python.ops.variables)

[2017-02-15 19:21] nfmcclure commented on #12
Thanks!  I will update the code this weekend.

[2017-02-19 04:52] nfmcclure commented on #12
Updated! Thanks.

[2017-02-19 04:52] #12 closed

[2017-02-19 04:52] nfmcclure commented on #11
Files should be fixed now. Thanks!

[2017-02-19 04:52] #11 closed

[2017-02-22 18:45] memoday opened #16 "Arabic display issue in following your tutorial about machine translation"
Hi Nick,

First, thanks for the great book. It's well-written and I like the way you present things.

I have followed "Creating Sequence-to-Sequence Models" and I managed to make it work. It worked for English German, but when I used the same with English Arabic and basically got the same data from "http://www.manythings.org/anki/ara-eng.zip", the Arabic text for the examples is not displayed corr

[2017-02-22 22:58] nfmcclure commented on #16
Hi @memoday ,

Thanks so much for your interest, and I'm glad you got the english-german example working. Das ist sehr toll!

I'm not sure about the arabic, but my understanding is that the model might have an issue translating a left-to-right language into a right-to-left language.

But I suspect the real issue is (1) the model can get stuck repeating the same word over and over. (it's not a comp

[2017-02-23 03:48] memoday commented on #16
Vielen Dank, Nick :-)

I managed to fix the encoding issue by adding 'encoding='utf8' under the 'write to file'. At least, I can see now Arabic text displayed in Jupyter Notebook. Here is the modified part.

`# Write to file
    with open(os.path.join(data_dir, data_file), 'w', encoding='utf-8') as out_conn:
        for sentence in eng_ara_data:
            out_conn.write(sentence + '\n')
else:

[2017-02-23 14:42] nfmcclure commented on #16
I'm glad the encoding was the primary issue.  I'll probably add the encoding in a pull request this weekend. I'm going to close this issue, as I won't get around to creating saving/evaluating for a few weeks.  I'll open another issue with a tag that expands on that for other models as well.  Thanks for the interest again,

-Nick

[2017-02-23 14:42] #16 closed

[2017-02-23 14:46] nfmcclure opened #17 "Model Examples Need Saving and Evaluation Added"
Make sure that all significant models save the model space (graph, variables, and definitions) properly and have a script that allows for (1) loading of most recent model, and (2) evaluation of new input.

[2017-02-26 12:47] yingwei13mei opened #18 "[08\05_stylenet.py] cannot show the correct picture."
When I run "tensorflow_cookbook-master\08_Convolutional_Neural_Networks\05_Stylenet_NeuralStyle\05_stylenet.py" , it comes out the below message:
D:\Anaconda3\lib\site-packages\scipy\misc\pilutil.py:98: RuntimeWarning: invalid value encountered in greater
  bytedata[bytedata > high] = high
D:\Anaconda3\lib\site-packages\scipy\misc\pilutil.py:99: RuntimeWarning: invalid value encountered in less

[2017-02-26 19:49] nfmcclure commented on #18
I investigated this Monday.  It appears the 'style_loss' gets larger and larger each run, eventually hitting `Inf` values, which makes the image go black.

I've played around with the convergence parameters (learning rates and image weights), but no avail.  This is a deeper bug in the loss function somewhere.  This requires more investigation and I suspect the auto-upgrade to TensorFlow version 1.

[2017-02-27 15:02] yingwei13mei opened #19 "In 07_Natural_Language_Processing / 02_Working_with_Bag_of_Words / 02_bag_of_words.py"
From Line 29 to Line 34 these codes block show as follows:
"
if os.path.isfile(save_file_name):
     text_data = []
     with open(save_file_name, 'r') as temp_output_file:
         reader = csv.reader(temp_output_file)
         for row in reader:
             text_data.append(row)
"
There lack a little small code when the 'temp_spam_data.csv' have been exists in local.
There needs to split the "r

[2017-02-27 15:05] nfmcclure commented on #19
Thanks, I'll check this out/merge a pull request soon.

[2017-02-28 05:28] zhangdm opened #20 "ValueError: Only call `sparse_softmax_cross_entropy_with_logits` with named arguments (labels=..., logits=..., ...)"
# the error as follow:

ValueError                                Traceback (most recent call last)
<ipython-input-2-a88ef5ecd2c2> in <module>()
    109
    110 # Declare Loss Function (softmax cross entropy)
--> 111 loss = tf.reduce_mean(tf.nn.sparse_softmax_cross_entropy_with_logits(model_output, y_target))
    112
    113 # Create a prediction function

E:\Anaconda3\lib\site-packages\tensorflow

[2017-02-28 05:30] zhangdm commented on #20
My tensorflow version is 1.0 with cpu

[2017-02-28 12:29] yingwei13mei commented on #20
Cause tensorflow version has been updated to Ver 1.0 and the sparse_softmax_cross_entropy_with_logits  function's parameter have been reinforced to be added  logits=, ..labels= . You could modify with tf.nn.sparse_softmax_cross_entropy_with_logits(logist=model_output, labels=y_target)). It could be work

[2017-02-28 13:50] yingwei13mei opened #21 "tf.nn.seq2seq. cannot be found with tf version 1.0"
In 09_Recurrent_Neural_Networks\03_Implementing_LSTM\03_implementing_lstm.py ,
there could not find seq2seq. I think maybe update to version 1.0 of tf caused this problem.
"
--> 166         decoder = tf.nn.seq2seq.rnn_decoder
    167         outputs, last_state = decoder(rnn_inputs_trimmed,
    168                                       self.initial_state,

AttributeError: module 'tensorflow.python

[2017-02-28 14:48] nfmcclure commented on #20
Will merge this over the weekend.  Thanks for bringing to my attention.

[2017-02-28 15:01] nfmcclure commented on #21
Two things are now apparent to me.
(1) TensorFlow's automatic upgrade script that upgrades python code to be 1.0.0 compliant does not address all issues.
(2) The seq2seq functions have changed dramatically.

After a bit of digging, it appears the `seq2seq` functions are in the following location:

``` tf.contrib.seq2seq```

I would try the function: `tf.contrib.seq2seq.simple_decoder_fn_train()` f

[2017-03-01 12:06] leigaoyi opened #22 "The solution when 02_TensorFlow_way , 02_layering_nested_... can't work"
I'm not sure how many people have the same problem with me, when to finish the 02_layering_nested_operations. In my version , the default type of numpy and the constant of tensorflow is not the same. So when you meet the problem, you can try to use np.float32 or dtype=tf.float32, to make sure all variables have the same types to help sess.run() .

Love this cookbook!
and a suggestion. The last par

[2017-03-01 12:06] leigaoyi commented on #22
This replace replies to Tensorflow 1.0.0

[2017-03-01 12:34] leigaoyi opened #23 "Question in 02_Tensor/03_multiple_... , feed_dict={x_data=x_val}"
First, I change the type of x_val with np.float32 into y_val. When I run:
 **mov_avg_layer= tf.nn.conv2d(y_val, my_filter, my_strides,
                           padding='SAME', name='Moving_Avg_Window')
print(sess.run(mov_avg_layer))**
I get the result. But when I try the feed_dict, my kernel runs out.

When I put the codes in my terminal python envirment, my operation system runs wrong.
I use th

[2017-03-01 13:32] yingwei13mei opened #24 "ImportError: No module named 'tensorflow.models.rnn' cannot import data_utils"
In 09_Recurrent_Neural_Networks\05_Creating_A_Sequence_To_Sequence_Model
05_seq2seq_translation.py
There was some import error as follows:
ImportError                               Traceback (most recent call last)
<ipython-input-4-de9ce88ac281> in <module>()
     21 from zipfile import ZipFile
     22 from collections import Counter
---> 23 from tensorflow.models.rnn.translate import data_utils

[2017-03-01 14:48] nfmcclure commented on #24
TensorFlow's `upgrade to v1.0.0` conversion script does not appear to have worked with the RNN library.  TF v 1.0 has moved the RNN library.  I will address this over the weekend.

[2017-03-02 03:25] leigaoyi opened #25 "Solution in 02_Ten_../04_loss_.., sigmoid entropy loss don't work well"
tf.nn.sigmoid_cross_entropy_with_logits(_sentinel=None, labels=None, logits=None, name=None) don't suggest using _sentinel , because it refer to positional parameters.
But in my computer and python environment, if just put in
**tf.nn.sigmoid_cross_entropy_with_logits(x_vals,targets)**
It gives warnings, so I think maybe this function receive x_vals as _sentinel. When add the labels , I get the res

[2017-03-02 13:40] yingwei13mei opened #26 "Question about “04_Support_Vector_Machines\04_Working_with_Kernels”"
Hi, in 04_svm_kernels.py shows below, I have some questions to need your help, please.
1. In Line 54, the variable "model_output" seems not to be used in the whole py file, is there missed some codes?
2. Not very understand on how to calculate the loss function when use the my_kernel. From the code I guess the calculation is  that: my_kernel *(b^T *b) * (y * y^T) ,and then reduce_sum of it.
And th

[2017-03-04 18:23] slcott opened #27 "ipython notebook tensorboard outputs"
Looks like the ipynb files are using some deprecated functions:

For section: **Create and Format Tensorboard outputs for viewing**

Error:

<ipython-input-9-961aa540430d> in <module>()
----> 1 merged = tf.merge_all_summaries()
      2
      3 if not os.path.exists('tensorboard_logs/'):
      4     os.makedirs('tensorboard_logs/')
      5

the following change fixes it:
[code]

Error:

<ipython-in

[2017-03-04 18:51] slcott commented on #27
Here's a PR https://github.com/nfmcclure/tensorflow_cookbook/pull/28

[2017-03-04 23:24] woto opened #29 "AttributeError: 'module' object has no attribute 'rnn_cell' in 09_Recurrent_Neural_Networks/03_Implementing_LSTM/03_implementing_lstm.py"
Hi, sorry, i'm absoultely new in Tensorflow and may be telling nonesence.

This example
https://github.com/nfmcclure/tensorflow_cookbook/blob/master/09_Recurrent_Neural_Networks/03_Implementing_LSTM/03_implementing_lstm.py

raise with this error:

[code]

[code]

[code]

i'm using this Docker image

[code]

thanks

[2017-03-06 03:04] leigaoyi opened #30 "Solution: 02_Ten/04_loss_..., the last part with tf.nn.sparse_softmax_cross_entropy_with_logits"
I'm not quite understand how this function work, but in my computer. Do the following changes can make code works.Otherwise, errors are given.
Tensorflow 1.0.0

**sparse_xentropy = tf.nn.sparse_softmax_cross_entropy_with_logits(logits=unscaled_logits,labels= sparse_target_dist)
print(sess.run(sparse_xentropy))**

[2017-03-09 03:21] ZenithFZH opened #31 "In the multi-class classification with SVM example code, "reshape_mul" function's last line should be return(tf.batch_matmul(v2, v1)) rather than tf.matmul(v2,v1)"

[2017-03-09 06:09] sigmoidx opened #32 "Error at chapter 7 Working with CBOW Embeddings"
Hi, there are some errors in the CBOW example but this one is something I can't solve.

Traceback (most recent call last):
  File "05_Working_With_CBOW.py", line 125, in <module>
    window_size, method='cbow')
  File "/home/test/cbow/text_helpers.py", line 97, in generate_batch_data
    batch, labels = [list(x) for x in zip(*batch_and_labels)]
ValueError: not enough values to unpack (expected 2,

[2017-03-13 04:30] nfmcclure commented on #26
Hi @yingwei13mei ,  thanks for the notice.  You bring up a few points to address.

1. Yes, the 'model_output' is errant code that has been removed in the most recent pull request.
2. As for what exactly is going on in the SVM code, you might look into the following resources about SVMs:

http://cs229.stanford.edu/notes/cs229-notes3.pdf
http://www.robots.ox.ac.uk/~az/lectures/ml/lect3.pdf

3. I cre

[2017-03-13 04:30] #26 closed

[2017-03-13 04:33] nfmcclure commented on #27
Thanks! Merged.

[2017-03-13 04:33] #27 closed

[2017-03-13 04:37] nfmcclure commented on #29
Thanks for this!  This code was indeed originally written on TensorFlow version 0.12.  I have migrated it automatically with TensorFlow's automatic upgrade script.  Theoretically that should have taken care of the 1.0.0 upgrade.  Realistically, it was far far from that.

Today, however, I managed to fix this script, so that it runs in version 1.0.1.  Please note that version number: **1.0.1**.

I

[2017-03-13 04:37] #29 closed

[2017-03-13 04:53] nfmcclure commented on #30
It should be fixed now.

Needless to say the upgrade to TF v 1+ has been pretty harsh across the board.

Thanks for this notice.  Let me know if you have any more problems!

[2017-03-13 04:53] #30 closed

[2017-03-13 05:05] nfmcclure commented on #31
Hi @ZenithFZH,

I think you may be on an older version of TensorFlow.  As of version 0.12 and forward, the function `tf.batch_matmul` has been removed in favor of `tf.matmul`.

I recommend upgrading your TensorFlow version and retry.

I created a jupyter notebook from the code as well in the same directory.

[2017-03-13 05:05] #31 closed

[2017-03-13 05:05] nfmcclure commented on #31
For reference, see this TF issue:

https://github.com/tensorflow/tensorflow/issues/6560

[2017-03-13 05:09] nfmcclure commented on #32
HI @sigmoidx,  thanks for the alert.  I suspect this is due to the TF v 1 upgrade issues that everyone is experiencing.  I have tackled a few tonight, but haven't gotten around the the NLP chapter yet.  I will probably get around to this in the next week or two.

[2017-03-13 05:13] nfmcclure commented on #23
Hi @leigaoyi ,  This is almost surely due to the TF v1+ upgrade.  I went through a few of the scripts tonight and made sure they run with version 1.0.1.  This is now running for me.  I recommend making sure you are running version 1.0.1, and retrying this script or notebook.  Let me know if you are still running into errors.

[2017-03-13 05:13] #23 closed

[2017-03-14 07:00] leigaoyi opened #35 "The switch problem in jupyter notebook ."
When I finish one example, then switch to another. My jupyter notebook shows the problem
**The kernel appears to die**
Restart can't help, and I have to close all of them. After **restarting jupyter notebook** and run into the same example, it can work. But do this is not comfortable. Why my condition happens?

[2017-03-14 07:04] leigaoyi commented on #35
I'm afraid I find the problem, if I shutdown the special notebook in the running part, then I switch to another won't make problems. Oh, how quickly I find it.
The tensorflow or the computation sources just can't be called at two more notebooks.

[2017-03-14 12:58] nfmcclure commented on #35
Hi @leigaoyi ,  Thanks for reporting this.  Can you give me a bit more details?  Which script or scripts are you trying to run?  Can you post the full Jupyter Kernel traceback?  Thanks!

[2017-03-16 03:02] nfmcclure commented on #19
Hi @yingwei13mei ,  I've made a few updates to the code in attempts to get it working with TensorFlow v1.0.1 .   Since I've done that, I can't seem to replicate the error.  I went through and added a jupyter notebook for this example as well.  Let me know if the error still persists for you and if so, let me know your OS, python version, and TF version as well.

[2017-03-16 03:02] #19 closed

[2017-03-16 03:18] nfmcclure commented on #20
I have this working now.  If you still run into an error, please comment/reopen and also leave the OS, python version, and TensorFlow version.  Thanks!

[2017-03-16 03:18] #20 closed

[2017-03-16 03:22] nfmcclure commented on #21
I was able to get this script working and also create a jupyter notebook in the process. It should work now.  For reference, I'm running Python 3.6.0 and TensorFlow 1.0.1.  If you are still running into errors, please let me know and also post your Python/TensorFlow version numbers.  Thanks!

[2017-03-16 03:22] #21 closed

[2017-03-16 03:23] nfmcclure commented on #22
I have this working now and have updated the repository.  Let me know if you still run into problems and if so, please also post your Python and TensorFlow version numbers.  Thanks!

[2017-03-16 03:23] #22 closed

[2017-03-16 14:57] WayneOuyang opened #37 "question about 06_using_a_multiple_layer_network.py"
Hello! I have a question about the mlp network which has around 200 parameters. But I check the sample size is less than 200. Depending on the seeds of random number, it's able to get converged results sometimes. my question is that how is it possible and is it the optimal model to run regression analysis to get the birth weight? Thanks!

[2017-03-17 14:19] nfmcclure commented on #37
Hi @WayneOuyang ,  Thanks for the question.  Neural networks are not guaranteed to converge to the same solution everytime, as compared to a simple linear regression.  Because of this you can imagine multiple solutions (sets of parameters) that result in the same predictions.

The example dataset was for illustration, and of course is not ideal.  If I were to choose a model for this dataset, logis

[2017-03-17 14:19] #37 closed

[2017-03-20 01:42] leigaoyi opened #38 "06_Neural_../04_single_..., batch size maters"
The examle with default 50 batch size can't converge, so I replace it with 10 or 15 receiving better condition.
I think the batch size matters, but don't understand.
And I have another question, the y_target has the shape [None, 1], and the final_ouput has the shape [1].
Why can they subtract with each other?

[2017-03-20 02:21] WayneOuyang commented on #37
Hi @nfmcclure  One more question. Why do you normalize the input data to [0,1] range instead of zero mean and unit variance? Thanks!

[2017-03-20 03:17] leigaoyi opened #39 "Question: 06_Neural_../05_implement_.. , about the function tf.nn.conv2d()"
**tf.nn.conv2d(input,filter,strides,padding)** is the function of convolutional network in tensorflow.
Here, the author says the input of 4-D data should have the size **[batch#, width, height, channels]**,
but the official web gives the description:
 **input tensor of shape [batch, in_height, in_width, in_channels]**
Will this make difference , if we replace the place of width and height in our e

[2017-03-20 08:39] leigaoyi commented on #35
I think I solve the problem , by fully shutdown the former notebook , then the newer open one can run normally. So no more notebooks can run at the same time in my computer.

My Jupyter is 1.0.0 , and my notebook is 4.4.1

[2017-03-20 08:39] leigaoyi commented on #35
I think I solve the problem , by fully shutdown the former notebook , then the newer open one can run normally. So no more notebooks can run at the same time in my computer.

My Jupyter is 1.0.0 , and my notebook is 4.4.1

[2017-03-21 01:45] #35 closed

[2017-03-21 02:11] nfmcclure commented on #38
Hi @leigaoyi ,  Thanks for your questions.

I think you have two main questions.  The first is 'What is the effect of batch size on convergence?'.  One way to think of this is to first think of a smooth convex solution space.  In this situation, we have exactly one global minimum and ideally we just use the whole dataset in one single batch and converge cleanly towards the minimum solution.  Of co

[2017-03-21 02:11] #38 closed

[2017-03-21 02:20] nfmcclure commented on #39
This should not make a difference.  If you need to keep track of `height` and `width` in the scripts, you can also transpose the images/tensors in those dimensions as well.  Let me know if you run into any problems with this.

[2017-03-21 02:20] #39 closed

[2017-03-21 02:51] leigaoyi commented on #37
I run this example successfully too, but not very beautiful . Before I read nfmcclure's answer, I want to open an issue to question about the large loss in 06_using_a_multiple_.. , now I decide to optimize the solution by myself. As I understand the details about how to build a neural network from the example now. Thanks for this tutorial.

[2017-03-21 18:15] duongtu opened #41 "06_multiclass_svm.py ValueError: Dimensions"
Python 3.5
Tensorflow GPU 1.0.1
Commit: 69396a0999e52208d321149783fcccf6a56c3bd1

File: 06_multiclass_svm.py
Line: 74
second_term = tf.reduce_sum(tf.multiply(my_kernel, tf.multiply(b_vec_cross, y_target_cross)),[1,2])

Error:
ValueError: Dimensions must be equal, but are 2 and 3 for 'Mul_3' (op: 'Mul') with input shapes: [2,?,1], [3,50,50].

[2017-03-22 04:17] nfmcclure commented on #37
Hi @WayneOuyang , Both normalizations should be sufficient for optimization.  Commonly you are supposed to transform the data to be centered around the highest non-linearity region of the activation function.  Both transformations should be sufficient for convergence.  I think that it would be user preference.

[2017-03-22 04:28] nfmcclure commented on #41
Hi @duongtu ,  Thanks for posting this.  I had the updated jupyter notebook, but didn't update the python script.  I made the necessary changes and the python script is fixed.

I suggest you repull the python script and try again with the recent changes.  Let me know if that does not work.

[2017-03-22 04:28] #41 closed

[2017-03-24 13:51] nfmcclure commented on #24
I think I have the solution.  But it depends on a pull request that has recently been merged into the TensorFlow code base.  It will not be available until the next version release of TensorFlow.  Which should be soon.  Stay tuned.

[2017-03-26 23:36] nfmcclure commented on #32
Hi @sigmoidx, This should be fixed now.  Also, fixed in all the chapter 7 code and each example in chapter 7 now has a jupyter notebook. Thanks and let me know if you have any more problems.

[2017-03-26 23:36] #32 closed

[2017-03-26 23:38] nfmcclure commented on #25
Hi @leigaoyi , this should be fixed now.  I also added a jupyter notebook in the section as well.  Let me know if you have any other issues.  Thanks!

[2017-03-26 23:38] #25 closed

[2017-03-27 01:22] sigmoidx commented on #32
Thanks for fixing errors!!! I will test them ASAP.

[2017-03-29 19:34] duongtu commented on #41
Thanks @nfmcclure

[2017-03-31 23:06] zhedongzheng opened #44 "the use of np.roll in Shakespeare Example"
Hello, I am trying to understand this operiaton in Shakespeare example
[code]
From my test below
[code]
which results in
[code]
I don't really understand what does this mean, because I think logically we should move the first world of next sentence to the end of current sentence (and in that case we are predicting the next word).

I even think put axis=0 may be better, because we are trying to pre

[2017-04-01 15:07] zhedongzheng commented on #44
Oh, sorry it is my mistake. Now I have understood this. We are predicting next word by last word.

[2017-04-01 15:07] #44 closed

[2017-04-09 02:43] trangtv57 opened #53 "can't understand the mean of code in SVM kernel?"
Can you explain more detail in code SVM kernel, in loss function and predict, i try to read more about SVM to understand but can't, or you can send me some blog with math( in your code) it will better for me. Thank you so much.

[2017-04-09 04:59] nfmcclure commented on #53
Hi @trangtv57 ,

Thanks for your interest.  I would recommend reading any/all jupyter notebooks in the SVM categories.

Also, read my response to another similar SVM issue here (It has links to more reading about SVMs):

https://github.com/nfmcclure/tensorflow_cookbook/issues/7

Good luck!

[2017-04-09 04:59] #53 closed

[2017-04-17 13:44] nfmcclure commented on #24
Finally TF released a new version and I was able to get it working.  Please upgrade to TF v1.1.0 + and re try with the newer code.  Thanks!

[2017-04-17 13:44] #24 closed

[2017-04-18 14:03] zhedongzheng opened #64 "dynamic_rnn_decoder"
Hi, I am wondering Is it possible to use the new [dynamic_rnn_decoder](https://www.tensorflow.org/api_docs/python/tf/contrib/seq2seq/dynamic_rnn_decoder) to replace the legacy rnn decoder in rnn chapter for text generation, and update the code?

[2017-04-19 14:01] nfmcclure commented on #64
Hi @zhedongzheng ,
Thanks, this is a great idea.  I should be able to get around to it within the next few weeks.

[2017-04-22 23:53] jimthompson5802 opened #65 "Inconsistent results in LASSO Regression - Chapter 3, Section 6"
@nfmcclure ... while working on the LASSO regression I noticed one issue.  As with the other notebooks, I added code for reproducibility.  Depending on the random seed, the LASSO regression returns `nan` results.

Here are some examples.

LASSO code fragment:
[code]

With this seed setting:
[code]

The training code
[code]
Results in this output:
[code]

With this random seed setting:
[code]
Resul

[2017-04-23 01:32] nfmcclure commented on #65
Thanks @jimthompson5802 ,  I suspect this has to do with the continuous approximation to the heavyside step, and more specifically, the constant of 100.  I'll look into  playing around with this equation and seeing if I can get it to converge for more cases..

[2017-04-23 01:54] nfmcclure commented on #65
Yup.  Making the continous heavyside step constant closer to zero results in a less-steep approximation, which means the gradients during the training step have a less likely change to explode (which results in the NaN values).

Changing the heavyside step function constant from -100.0 to -50.0:

`heavyside_step = tf.truediv(1., tf.add(1., tf.exp(tf.multiply(-50., tf.subtract(A, lasso_param)))))`

[2017-04-23 01:54] #65 closed

[2017-04-28 06:23] Alpha-ma opened #69 "chapter_7:skip_gram and cbow programmes are wrong"
when reading codes for this algorithm, I found one of the most important step: calculate similarity( cosine) (in both skip gram and cbow) is wrong, as it is just generated randomly, and never updated when training, you can find the results printed are not different at any time.  i.e., the results is wrong. please kindly correct this crucial error, thanks. @nfmcclure @jimthompson5802 @slcott @havk6

[2017-05-03 14:39] nfmcclure commented on #69
Hi @Alpha-ma ,  Thanks for bringing this to my attention.  I suspect the algorithm is performing correctly, but the hyperparameters and data pipeline are not tuned correctly.  I'll check this out soon.

[2017-05-10 13:52] alonsopg opened #70 "ValueError: Attempt to reuse RNNCell <tensorflow.contrib.rnn.python.ops.core_rnn_cell_impl.GRUCell"
After running the Seq2Seq example I got:
[code]

Any idea of how to fix it?.

[2017-05-10 14:49] nfmcclure commented on #70
Hi @alonsopg ,
Thanks for reporting this.  I have a few questions.  Can you try running:
`from tensorflow.python.framework import ops
ops.reset_default_graph()`

And then run everything from scratch.  It appears that TensorFlow is attempting to reuse the RNN Cell.  The above two lines make sure that TensorFlow clears the graph before you re-run things.

If that doesn't work, can you tell me specif

[2017-05-10 15:43] alonsopg commented on #70
Thanks for the help @nfmcclure!. After running what you said I got the same error. I am in OSX, with tf: 1.1.0 in cpu, and python 3.6.1

[2017-05-10 15:57] nfmcclure commented on #70
Ah, I just checked and forgot that this is a bug in TensorFlow.  It is documented here:
https://github.com/tensorflow/tensorflow/issues/8191

It appears it will stay broken for TF v1.1.0.   You have three options: (1) Downgrade to version 1.0.0 or (2) wait until they release version 1.2.0, or (3) build from the github master branch (assuming they have pushed the fix already).

Sorry about this, bu

[2017-05-10 15:57] #70 closed

[2017-05-16 14:06] zhedongzheng opened #72 "How do we predict data without targets in SVM Kernels?"
Hello, thanks for the excellent work.

I am confused in `04_svm_kernels.ipynb` of Chapter 4 Support Vector Machine, where we always require `y_target` in prediction because of dual calculation. However, in real world practice, if we only have X_test to predict Y_test, how do we get prediction without the labels?

Do you have any insight about this?

Thanks

[2017-05-17 03:44] nfmcclure commented on #72
Hi @zhedongzheng ,
Thanks for the comment!  Unfortunately, the SVM algorithm needs the y-targets of the training set for training. In fact, there are specific y-targets from the training set that make up the so-called "support vectors" of the separation boundary that determines the classification.  So in order to make predictions on a test set with no y-targets, the training set (with the y-target

[2017-05-17 03:44] #72 closed

[2017-05-21 18:24] jimthompson5802 commented on #17
@nfmcclure just checking to see if you want help with this.  I have some examples of model save/restore in the context of transfer learning using the MNIST data set.

In my examples, I partition the MNIST digits into even and odd data sets.  I train a CNN model to recognize even digits.  The even digit model is saved to disk.  The even digit model is restored from disk and trained on the odd digit

[2017-05-25 19:06] mclarknc opened #74 "403 Forbidden when trying to access Low Birthweight Data"
Clicking on the link "Low Birthweight Data" in the 07_Working_with_Data_Sources directory gets:

You don't have permission to access /statdata/statdata/data/lowbwt.txt on this server.

[2017-05-25 19:36] mclarknc opened #75 "Missing CIFAR-10 Image Data"
/01_Introduction/07_Working_with_Data_Sources/ is missing a link to the CIFAR-10 dataset

[2017-05-27 00:09] nfmcclure commented on #69
I've been meaning to address this. I didn't know a month could be this busy. This is next on my list. Hopefully I'll get some time in the next few weeks to improve the convergence of the algorithm.

[2017-05-29 01:10] dthboyd commented on #74
Please provide working link, thanks

[2017-05-30 16:02] TheQuant opened #76 "GradientDescentOptimizer example is very sensitive to initial seed for A and learning rate"
I've been getting inconsistent results with the Deming regression example given in your text.  I'm running Tensorflow locally on an iMac using MacOS Sierra 10.12.4.  I then explored using different combinations of initial values for A (rather than the random normal example in the text), and then different learning rates.  I found that starting values for A that were negative often led to poor fits

[2017-05-31 22:21] zhedongzheng commented on #75
You can use built-in keras in tensorflow to obtain the dataset in one line of code
[code]

[2017-06-01 21:00] TheQuant commented on #74
Agreed.  Can't access this data set using requests module either.

[2017-06-01 21:16] nfmcclure commented on #74
It appears that UMASS has closed sourced that option for an otherwise common and open dataset.  I did some looking around and found a copy here:
http://springer.bme.gatech.edu/Ch17.Logistic/Logisticdat/birthweight.dat

I can't seem to find the license on that data link, but it should work.  In the near future, I'll upload the relatively small dataset into Github itself and reference it there.

[2017-06-01 21:18] nfmcclure commented on #76
I'll take a look into this over the weekend.  I'm sure there's a better way to estimate some starting points based on the data.

[2017-06-01 21:19] nfmcclure commented on #75
Thanks @zhedongzheng !  I'll update a link to it soon.  If, on the other hand, you are looking for information on the CIFAR datasets, check:
https://www.cs.toronto.edu/~kriz/cifar.html

[2017-06-01 21:19] TheQuant commented on #74
Thanks!  That worked!

[2017-06-03 07:47] Jhonsonzhangxing commented on #69
@Alpha-ma @nfmcclure , Hi,guys, I thought  i  found where the mistake occur,in the function text_to_numbers(sentences, word_dict): for this line:for word in sentence may be wrong ,I thought the line should be for word in sentence.split().  yes ,you need add ".split()" .only in this way ,text_data=[[551,
  2588,
  2359,
  0,
  33,
  7418,
  214,
  149,......]]

for word in sentence:
     you got wo

[2017-06-03 18:47] nfmcclure commented on #69
@Jhonsonzhangxing ,  thanks for noticing this!!  The embeddings were not converging because they were running on characters, not words.  I fixed this and will push the changes along with other changes today.  I'll close this in a few hours.

[2017-06-03 19:20] nfmcclure commented on #74
To prevent further academic links from closing and placing un-needed stress on academia for hosting this, I moved a copy of the small birthweight dataset into a local place on this github repo here:
https://github.com/nfmcclure/tensorflow_cookbook/tree/master/01_Introduction/07_Working_with_Data_Sources/birthweight_data
I made the necessary link and code changed to the recipes/sections that use th

[2017-06-03 19:20] #74 closed

[2017-06-03 19:42] nfmcclure commented on #75
I added links, the specified Keras commands, and a sample image plot in the working_with_data_sources.  Let me know if you want more information. Thanks!

[2017-06-03 19:42] #75 closed

[2017-06-03 19:45] nfmcclure commented on #69
Everything seems to be in working order.  I did not do a full test, but if you run the skipgram (learning rate between 0.5 and 1.0) for about 300,000-500,000 iterations you should get some convergence. I ran it for 100,000 and am seeing the "nearby" words change. Remember that this is a problem specific embedding (movie reviews) and that we won't end up with nice word similarities like "love" and

[2017-06-03 19:45] #69 closed

[2017-06-03 19:58] nfmcclure commented on #18
This is fixed, thanks to this pull request:
https://github.com/nfmcclure/tensorflow_cookbook/pull/73

Try recloning/forking and run again. Thanks.

[2017-06-03 19:58] #18 closed

[2017-06-08 14:27] mrStasSmirnoff opened #77 "06_Neural_Networks/05_Implementing_Different_Layers ("

[2017-06-08 14:33] mrStasSmirnoff opened #78 "06_Neural_Networks/06_using_a_multiple_layer_network.ipynb (list index out of range)"
During compiling following piece of code:
-----------------------------------------------------------------------------------------------------
birth_weight_file = 'birth_weight.csv'

# download data and create data file if file does not exist in current directory
if not os.path.exists(birth_weight_file):
    birthdata_url = 'https://github.com/nfmcclure/tensorflow_cookbook/raw/master/01_Introduct

[2017-06-08 14:37] #77 closed

[2017-06-11 21:58] jimthompson5802 commented on #78
@mrStasSmirnoff Looks like the cause of the problem is the data set retrieved has a different format from when the code was originally written.  Originally the data set had 11 columns, now the data set has 9 columns.  To fix your immediate problem, I suggest changing the line of code to read:
[code]

You should also change this line:
[code]
to read:
[code]

[2017-06-11 22:56] jimthompson5802 commented on #78
@nfmcclure in addition to the code identified above, some other changes, e.g., placeholder and input layer shape specifications, are needed to accommodate the new raw data format.  I'm working on the fixes.

[2017-06-12 15:29] PSeitz commented on #70
shorthand downgrade:
[code]

[2017-06-13 13:44] ilame opened #80 "cross-validation with multiclass SVM"
Hi,
I have adapted the code of multiclass SVM to my dataset, it is working well, however I don't know how to use k-fold cross validation in the training loop. any help or gudance would be very appreciated. Thanks

[2017-06-22 13:48] ayushtiwariiitk opened #81 "Version Semantic and other Bugs in tensorflow_cookbook/09_Recurrent_Neural_Networks/04_Stacking_Multiple_LSTM_Layers/04_stacking_multiple_lstm.py"
In line 136:
self.lstm_cell = tf.contrib.rnn.BasicLSTMCell(rnn_size)
change to
self.lstm_cell = tf.contrib.rnn.BasicLSTMCell(rnn_size, reuse=tf.get_variable_scope().reuse)

In line 137:
self.lstm_cell = tf.contrib.rnn.MultiRNNCell([self.lstm_cell] * self.num_layers)
change to
self.lstm_cell = tf.contrib.rnn.MultiRNNCell([self.lstm_cell for self.lstm_cell in range(num_layers)])

In line 138:
self.i

[2017-06-24 23:30] nfmcclure commented on #80
Hi @ilame , Your suggestion to add k-fold cross validation is a good one, and I should add this.  I put this under 'enhancements' and will spend some time in the next few weeks adding this to the multiclass SVM.

If you wanted, you could manually split the dataset into k-random splits and run the model k times.  I'll work on incorporating scikit-learn's k fold cross validation preprocessing into i

[2017-06-25 00:51] nfmcclure commented on #81
Hi @ayushtiwariiitk ,  Thanks for bringing this up. I updated the script to
`self.lstm_cell = tf.contrib.rnn.MultiRNNCell([self.lstm_cell for _ in range(self.num_layers)])`
and it works/runs for me.  Try repulling the repo, and making sure you are running TensorFlow v1.12+ and trying again.  If that doesn't work, please let me know the version numbers of your python 3 and TensorFlow libraries and

[2017-06-25 09:28] ilame commented on #80
Hi @nfmcclure
Thank you for your reply. I have tried to modify the code incorporating scikit-learn's k fold. y_vals and batch_size dimensions need to be adapted to the split dimensions, but still can't find how.

import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from sklearn import datasets
from tensorflow.python.framework import ops
from sklearn.model_selection import KFo

[2017-06-27 05:23] ayushtiwariiitk commented on #81
Hi @nfmcclure, Thanks for the update.
But, I am still getting some issues.
ValueError: Attempt to reuse RNNCell

My python and tensorflow confg are as follows:
Python 3.5.3 :: Anaconda custom (64-bit)
tf.__version__'1.1.0'

[2017-07-05 11:04] ayushtiwariiitk opened #82 "https://github.com/nfmcclure/tensorflow_cookbook/blob/master/09_Recurrent_Neural_Networks/03_Implementing_LSTM/03_implementing_lstm.py"
https://github.com/nfmcclure/tensorflow_cookbook/blob/master/09_Recurrent_Neural_Networks/03_Implementing_LSTM/03_implementing_lstm.py

[2017-07-05 13:38] #82 closed

[2017-07-07 07:37] MikolajSedek opened #83 "Siamese RNN - target values and model configuration"
Hi Nick,
get_bach function in 06_siamese_similarity_driver.ipynb generates data with targets -1 or 1, however  the loss function in siamese_similarity_model.py seems to be configured to work with targets 0 or 1:

#If y-target is -1 to 1, then do the following
#pos_mult = tf.add(tf.multiply(0.5, y_target), 0.5)
#Else if y-target is 0 to 1, then do the following
pos_mult = tf.cast(y_target, tf.float

[2017-07-15 22:40] davidenunes opened #86 "Double softmax in cross entropy with logits"
Just wanted to point out that you have some examples where you use
`logits_out = tf.nn.softmax(tf.matmul(last, weight) + bias)`

and then define the loss function as:
`losses = tf.nn.sparse_softmax_cross_entropy_with_logits(logits=logits_out, labels=y_output)`

You are **calling softmax twice**. From TensorFlow [documentation](https://www.tensorflow.org/api_docs/python/tf/nn/sparse_softmax_cross_e

[2017-07-19 14:38] hongguangguo opened #87 "shouldn't use softmax"
https://github.com/nfmcclure/tensorflow_cookbook/blob/master/09_Recurrent_Neural_Networks/02_Implementing_RNN_for_Spam_Prediction/02_implementing_rnn.py#L120

shouldn't use softmax  activation in output layer, when use `sparse_softmax_cross_entropy_with_logits`

refer:https://www.tensorflow.org/api_docs/python/tf/nn/sparse_softmax_cross_entropy_with_logits

[2017-07-20 22:15] SatoshiRobatoFujimoto opened #88 "08_logistic_regression"
I just tried 08_logistic_regression code. However, I got the error in follows.
Give me some advice?

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-17-188d7dcac03d> in <module>()
     26
     27 # Pull out target variable
---> 28 y_vals = np.array([x[1] for x in birth_data])

[2017-07-23 22:43] vpegasus opened #89 "why 'embedding_size' should be equal to 'rnn_size' in chapter9 03 implementing lstm"
```rnn_size = 128 # RNN Model size, has to equal embedding size```

I don't know why there has to be equal between these two hyper-params? could you be kind to explain it for us, thanks.

[2017-07-27 08:35] hongguangguo opened #90 "best way is only use transform,not fit_transform."
https://github.com/nfmcclure/tensorflow_cookbook/blob/master/07_Natural_Language_Processing/02_Working_with_Bag_of_Words/02_bag_of_words.py#L138

[2017-07-27 15:58] lyan62 opened #91 "running error in 09_Recurrent_Neural_Networks/05 seq2seq"
when defining translate_model, running this cell:

[code]
I got error as:

previous codes all work fine.  How can I get this code work?

[2017-07-28 21:40] wdurnoUBC commented on #20
I have this bug for a later version.
logits = model_output, labels=y_placeholder

VERSIONS:
OS: Ubuntu 16.04
TF: 1.2.1, GPU
Python: 2.7.13

DEBUG:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/me/tensorflow/lib/python2.7/site-packages/tensorflow/python/ops/nn_ops.py", line 1555, in softmax_cross_entropy_with_logits
    labels, logits)
  File "/home/me/tens

[2017-07-30 03:06] AlisterTA opened #92 "I would like to request your permission as author so that I can translate some parts of your book"
Dear Nick,
I started reading your book entitled “TensorFlow Machine Learning Cookbook” about a month ago, and I should say it's a well-written book.

I really liked some of the ideas that you wrote and I would like to share them with students in my country.  I would like to request your permission as author so that I can translate some parts of your book into the Persian language with some modific

[2017-07-30 14:50] nfmcclure commented on #92
Hi @AlisterTA , thanks for your interest! It is fine if you want to translate it.  I appreciated you intentions and feel free to translate the text and use the Python scripts you find here.  Please let me know if I can provide clarification on anything in the process.  I'm going to close this issue and please reopen it if you have any questions.  Thanks!

[2017-07-30 14:50] #92 closed

[2017-07-30 14:52] nfmcclure commented on #81
Hi @ayushtiwariiitk ,  Sorry for the late response, I only get around to working on this project about once a month.  Please try to update (1) Tensorflow to version 1.2+ and try again.

[2017-07-30 15:03] nfmcclure commented on #83
Hi @MikolajSedek ,  Thanks for noticing this.  I missed this because the model trains fairly well just by learning on the positive examples.  The code has been updated.  Please repull and check if you want.  Sorry about the late reply, I only get a chance to work on this project about once a month.  I'm going to close this issue and please reopen if it isn't fixed on your end.

[2017-07-30 15:03] #83 closed

[2017-07-30 15:08] nfmcclure commented on #86
Hi @davidenunes ,  Thanks for noticing this.  Fixed two places I could find them.  Please reopen if you notice any more.

[2017-07-30 15:08] #86 closed

[2017-07-30 15:09] nfmcclure commented on #87
Hi @hongguangguo ,  Thanks, This has been fixed (in two files). Please reopen if you find this occurring anywhere else.

[2017-07-30 15:09] #87 closed

[2017-07-30 15:20] nfmcclure commented on #88
Hi @SatoshiRobatoFujimoto ,  Thanks for noticing this!  The birthweight data source changed, and I decided to host a slightly different version of it here on github.  This file didn't get the changes it needed.  I fixed both the python file and jupyter notebook.  They both should be working now. Please repull the code and check if you would like.  Also, please reopen the ticket if you are getting

[2017-07-30 15:20] #88 closed

[2017-07-30 15:34] nfmcclure commented on #89
Hi @vpegasus , Thanks for bringing this up.  The reason was not anything to do with the algorithm or mathematically, it was a pure programming choice.  But I realize that may be confusing to the reader, so I changed the files to have both the Embedding size and the RNN size be able to be different now.  Please repull and check to see if it makes more sense.  And please reopen if you have any more

[2017-07-30 15:34] #89 closed

[2017-07-30 16:41] nfmcclure commented on #91
Hi @lyan62 ,  thanks for bringing this to my attention.  Unfortunately, it runs on my system.  From the error logs, it appears you are running this with Python 2.7.  This whole book was written in Python 3.5+ (Python 3.6 recommended).  I suggest you upgrade your python version and try again along with the most current version of Tensorflow (tested for v1.2).

I highly recommend upgrading to Python

[2017-07-30 16:41] #91 closed

[2017-07-30 17:25] nfmcclure commented on #90
Fixed.

[2017-07-30 17:25] #90 closed

[2017-08-02 08:08] Atreya22 opened #93 "Version Update Bug in siamese_similarity_model.py"
[code]

[2017-08-02 15:36] lyan62 opened #94 "Error running 09 Recurrent_Neural_Networks/05_seq2seq"
When running:
[code]

Got output:

I use ubuntu 16.04, tensorflow1.2.1, python3.6,

[2017-08-02 15:39] nfmcclure commented on #93
Hi @Atreya22 ,

Thanks for bringing this up.  It appears you are using Python 2.7.  This code is only meant to work with Python 3.5+.   I suggest you try with Python 3.6 and the most recent version of TensorFlow.  If the error persists, please post (1) full stack trace, as you did, (2) python version, (3) TensorFlow version # and if cpu or gpu, and (4) OS type.  Please try and repost if it works o

[2017-08-03 06:30] hunterzju opened #95 "some questions about the detail of "05_nonlinear_svm.py""
the example can work well, but I wonder the mathematical theory of the code, could you show me how the code solve the svm problem.
To be specific, I tried the SVM in sklearn, but it is too slow. But in sklearn there is a parameter "C" which can control the softmargin, I want to know if the code support the softmargin and how it works.
thanks!

[2017-08-03 14:02] nfmcclure commented on #95
Hi @hunterzju ,

Great question.  And thanks for bringing this up.  I just made a jupyter notebook out of the linear-svm code here:

https://github.com/nfmcclure/tensorflow_cookbook/blob/master/04_Support_Vector_Machines/02_Working_with_Linear_SVMs/02_linear_svm.ipynb

There is a constant in the loss function, `alpha`, which allows for the flexibility of the soft-margin. The higher it is the more

[2017-08-03 14:02] #95 closed

[2017-08-04 01:28] hunterzju commented on #95
Dear Nick:
Thank you very much for your reply, but still I want to know if it is possible to control the softmargin in the Nonlineanr_svm. Because I did not find a constant named 'alpha' in the Nonlineanr_svm.py. Or can you tell me the paper or documents your code based on? @nfmcclure

[2017-08-04 01:39] hunterzju opened #96 "how to control softmargin in Nonlineanr_svm model"
Dear Nick:
Thank you very much for your reply, but still I want to know if it is possible to control the softmargin in the Nonlineanr_svm. Because I did not find a constant named 'alpha' in the Nonlineanr_svm.py. Or can you tell me the paper or documents your code based on?

[2017-08-04 02:33] nfmcclure commented on #96
Hi @hunterzju ,
The softmargin parameter for the gaussian kernel is not explicit.  Instead, you change the parameter 'gamma'.  The larger the gamma value (more negative in the code), the closer the border gets to clusters of one class versus the other.  To illustrate this, try changing the gamma value to:
`gamma = tf.constant(-50.0)`
and
`gamma = tf.constant(-0.5)`

Good luck, and let me know if t

[2017-08-04 02:33] #96 closed

[2017-08-04 02:38] hunterzju commented on #96
I understand， thanks a lot！

[2017-08-07 15:52] trangtv57 opened #97 "How to get y_predict when get B(variables for svm) in nonlinear svm"
Sorry for my question, but I have something can't understand. I have some question about:

` rA = tf.reshape(tf.reduce_sum(tf.square(x_data), 1),[-1,1])
rB = tf.reshape(tf.reduce_sum(tf.square(prediction_grid), 1),[-1,1])
pred_sq_dist = tf.add(tf.subtract(rA, tf.multiply(2., tf.matmul(x_data, tf.transpose(prediction_grid)))), tf.transpose(rB))
pred_kernel = tf.exp(tf.multiply(gamma, tf.abs(pred_sq

[2017-08-07 16:22] nfmcclure commented on #97
Hi @trangtv57 ,

Thanks for your question.  There was a similar question before on how to predict on the non-linear SVM.  Because of this, if you look at the jupyter notebook:
https://github.com/nfmcclure/tensorflow_cookbook/blob/master/04_Support_Vector_Machines/05_Implementing_Nonlinear_SVMs/05_nonlinear_svm.ipynb

Near the bottom of the file, there is a section called, "Evaluate Test Points", t

[2017-08-07 16:22] #97 closed

[2017-08-08 02:16] trangtv57 commented on #97
thanks you guys.

[2017-08-13 14:47] Atreya22 commented on #93
@nfmcclure The Code Works perfectly with Python3. Closing the issue.

[2017-08-13 14:47] #93 closed

[2017-08-14 11:35] trangtv57 opened #99 "Some refused on predict with SVM non linear kernel"
Hi  nfmcclure,
Sorry for ask again about predict points in SVM. But before I can ask something I dont understand, you have closed my topi. I have some confused when apply your example SVM non linear for my case. I already train SVM non linear with gaussian kernel for iris dataset. Everything is ok, train and predict with all data. But when I try to predict some point in dataset, all y label is 0 n

[2017-08-16 16:46] versusnja opened #100 "07 NLP: Bag of words. incorrect embedding size?"
[code]
It only counts the number of sentences. I guess it must count the number of unique words.
If I'm right then the code must be like this:
[code]

Instead of 5574 I'm now getting 8206

[2017-08-17 16:43] huang10086 opened #101 "Confuse of The Result Of 06_Neural_Networks/07_Improving_Linear_Regression/"
When I copy the code of 06_Neural_Networks/07_Improving_Linear_Regression/  and run on my computer(ubuntu16 with tensorflow 1.1 CPU),the loss  as follows:"
Loss = -39.0416
Loss = -79.6343
Loss = -117.884
Loss = -147.927
Loss = -183.015
Loss = -212.834
Loss = -258.794
Loss = -282.107
Loss = -307.925
Loss = -351.318"
That made me confused,wish you give me some suggestion,thanks!

[2017-08-24 03:41] FelipeBerrios opened #102 "Problem with prediction of non-linear SVM"
When I try to predict for new entries using the test set, it seems to depend on how much data is passed to the prediction operation. For example, if you only pass one entry data, it always predicts the same class, even though it is erroneous. As you pass more test data, you begin to predict different values.
My question is whether this behavior is normal ?. In addition the results seem to depend o

[2017-08-24 09:46] KingLei1993 commented on #12
Thanks!  Updated!

[2017-08-25 01:01] FelipeBerrios commented on #102
I realized that if only one test sample is passed to it, the prediction always returns a vector with zero values ​​since it subtracts prediction_output with itself, so tf.argmax always returns the index zero.

`prediction_output = tf.matmul(tf.multiply(y_target,b), pred_kernel)`
`prediction = tf.arg_max(prediction_output-tf.expand_dims(tf.reduce_mean(prediction_output,1), 1), 0)`

Then by passing

[2017-08-29 02:33] spongejj commented on #21
Why i run my code in  tensorflow 0.12.0 still meet this error?
module 'tensorflow.python.ops.nn' has no attribute 'seq2seq'

[2017-09-04 12:33] ilame commented on #80
Hi @nfmcclure <https://github.com/nfmcclure>
Any news about the enhancement?
Kind Regards

On Sun, Jun 25, 2017 at 12:31 AM, Nick <notifications@github.com> wrote:

[2017-09-13 17:36] fbcotter opened #103 "Bug in Non-Linear SVM Kernel Calculation"
I think there's a bug in the calculation of the Gaussian Kernel for the multiclass SVM. Your code is as follows:

[code]

Initially it bothered me that the variable `dist` was calculated but never used. I then tried to figure out what you were doing in this code, and I think it is supposed to be doing something like this (dist is K in the below example)

![image](https://user-images.githubusercont

[2017-09-16 13:11] tatnguyennguyen opened #104 "Kernel SVM implementation is wrong (?)"
Take a look at the first formula on page 103 of your book. This is the objective function for (batch) kernel SVM. Parameter is vector b and each b_i is dedicated for only one x_i and one y_i alone. So it does not make sense to use the same vector b (with the size equal to the batch size) for all mini-batches as you did in your code because x and y in each mini-batch are different.

Take a look at

[2017-09-29 00:03] ruyingghost commented on #94
same error

tensorflow1.3 python3.5.4

[2017-10-04 03:34] kyunggyuyeol opened #105 "how to pip install requirements file ?"
how to pip install requirements file ?

i use Windows 10 64bit & python3.6

install cmd "pip install -r requirements.txt"  input

  Could not find a version that satisfies the requirement tensorflow (from -r requirements.txt (line 1)) (from versions: )
No matching distribution found for tensorflow (from -r requirements.txt (line 1))

[2017-10-05 10:47] TE-0000141056 commented on #19
"---> 53 texts = [x[1] for x in text_data]
54 target = [x[0] for x in text_data]
IndexError: list index out of range

still exists.
I ran this by using the latest code in jupter notebook .
could you help to check it again?

[2017-10-17 17:01] sherlockhoatszx opened #106 "AttributeError: 'NoneType' object has no attribute 'update'"
Hi, in 09_Recurrent_Neural_Networks/05_Creating_A_Sequence_To_Sequence_Model/ the code report error, my python is 3.5

`print('Creating Translation Model')
input_vocab_size = vocab_size
output_vocab_size = vocab_size

translate_model = translation_model(sess=sess,
                                    input_vocab_size=vocab_size,
                                    output_vocab_size=vocab_size,

[2017-11-09 03:16] BetterYan opened #107 "Suggesstion about session close"
Could you please add line "sess.close()" for each examples?
It will mislead new comers like me. :-)

[2017-11-10 10:36] Xnsam opened #108 "chapter 7 cbow loss outputs 'nan'"
Hi ,

I am getting loss result as nan while implementing the cbow code from chapter 7.
I wrote the code learning it from the book and then suspicious of my output i copy pasted from repo...
and still i got 'nan'
Please kindly suggest a work around...

[2017-11-11 06:23] Xnsam commented on #108
I changed learning_rate = 0.5 to learning rate = 0.01 also tried with learning_rate = 0.05 and batch_size=100, after 50k epochs it gave me loss=3.4292  from learning_rate= 0.01 and loss=2.6028  from learning_rate=0.05...with a gradual decrease from both the cases...need to optimize it though...

[2017-11-11 06:23] #108 closed

[2017-11-19 14:03] Jinkeycode opened #109 "Wrong code in Chapter2-04"
tensorflow_cookbook/02_TensorFlow_Way/04_Implementing_Loss_Functions/04_loss_functions.py
tensorflow_cookbook/02_TensorFlow_Way/04_Implementing_Loss_Functions/04_loss_functions.ipynb

Sigmoid Entropy Loss function is
[code]
but in your code is
[code]
line 71 on .py file and the same place on .ipynb

[2017-11-20 00:24] BetterYan opened #110 "Is this a typo?"
Second logistic layer ( >>>7 hidden inputs {<- This number }<<< to 5 hidden nodes)
A2 = init_variable(shape=[14,5])
b2 = init_variable(shape=[5])
logistic_layer2 = logistic(logistic_layer1, A2, b2)

Path:
tensorflow_cookbook/06_Neural_Networks/07_Improving_Linear_Regression/07_improving_linear_regression.ipynb

[2017-11-21 14:06] YuXunLu commented on #100
I found the same problem, and thank you very much for the post. It helped me deal with the same issue!

[2017-11-21 17:23] louisdv75 opened #111 "Exporting predicted value vs real value in 06_using_a_multiple_layer_network.ipynb"
Hello!

I loved your notebook on Multiple Layer Network!

I would like to know if you could add (or tell me) what lines of code could let me check the predicted values vs the real ones in a CSV format?

Thanks!

[2017-12-04 20:41] T-rain commented on #101
I think that the column of birth-weight data is different. It should change the target in this example.
The data in my case is as following,
<img width="385" alt="2017-12-05 4 20 46" src="https://user-images.githubusercontent.com/6246859/33574370-c7f9a1d4-d973-11e7-91d4-0bb5ea2ef996.png">
so I change the y target to x[0] and x_vals to x[1:8]

[code]
I think it will be the minimal change to reprodu

[2017-12-07 05:56] sherlick opened #112 "PROBLEM when creating seq2seq model"
Chapter 9, Creating Sequence-to-Sequence Models
When running the code, I get this problem saying: ## TypeError: can't pickle _thread.lock objects
details:
Traceback (most recent call last):

  File "<ipython-input-1-048e5362043a>", line 1, in <module>
    runfile('C:/Users/lc/.spyder-py3/practice/11.29/1_.py', wdir='C:/Users/lc/.spyder-py3/practice/11.29')

  File "X:\Anaconda3\envs\py36\lib\site-

[2017-12-09 08:13] Keramatfar opened #113 "Using test data for training"
Thanks to Author,
In the section "Working with bag of words", the algorithm use all the data to get vocabulary:
vocab_processor = learn.preprocessing.VocabularyProcessor(sentence_size, min_frequency=min_word_freq)
vocab_processor.fit_transform(texts)
but maybe it is not true to use test data to train the model.

[2017-12-13 21:24] FelipeMeganha commented on #20
Try

cost=tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=pred,labels=y))

[2017-12-18 03:42] huang10086 commented on #101
Thank you very much,I run the code by your way and get a right result!

[2017-12-23 13:18] maxim5 commented on #112
See [this issue and a workaround](https://github.com/tensorflow/tensorflow/issues/11157#issuecomment-353725791)

[2018-01-01 22:42] atushi0624 opened #115 "05_Stylenet_NeuralStyle problem"
The following error message occurs in 05_stylenet_neuralstyle: How do I fix it?

error message:
RuntimeError                              Traceback (most recent call last)
<ipython-input-10-df3ea5ab13c1> in <module>()
      7 original_minus_mean = original_image - normalization_mean
      8 original_norm = np.array([original_minus_mean])
----> 9 original_features[original_layer] = sess.run(vgg_net

[2018-01-02 18:11] ave19 opened #116 "07_sentiment_with_doc2vec + skip_gram + tf 1.4.0 = error"
I think the order of parameters probably moved around in tf.  But here's what I get:

[code]
...errors out with...

[code]

I don't have a fix, sorry.

[2018-01-28 11:54] maxim5 commented on #94
@lyan62 @ruyingghost

See [this answer on StackOverflow](https://stackoverflow.com/a/47952913/712995) and also https://github.com/tensorflow/tensorflow/issues/11157 . Basically, the workaround is this:

[code]

[2018-01-28 11:57] maxim5 commented on #106
See [this answer on StackOverflow](https://stackoverflow.com/a/47952913/712995) and also https://github.com/tensorflow/tensorflow/issues/11157 . Basically, the workaround is this:

[code]

[2018-01-29 09:14] ychong opened #117 "Suggestion for cleaner normalization implementation"
Hi,

If it's not too much, I have a suggestion for a cleaner implementation of x_vals normalization.

Instead of defining a separate function, and since the objective of normalization is just to allow for faster convergence, we could perform the following:

x_vals_train = x_vals_train  /  x_vals_train.max(axis=0)
x_vals_test = x_vals_test  /  x_vals_test.max(axis=0)

This implementation is cleaner

[2018-01-29 11:30] ychong opened #118 "06_NeuralNetwork_07_ImprovedRegression: Error in y_vals and x_vals indexing"
Hi,

I believe for 06_NeuralNetwork_07_ImprovedLinearRegression, the x_vals and y_vals are indexed incorrectly.

y_vals should be indexed as x[0] , and x_vals as x[1:8].

Here is a suggested correction:

y_vals = np.array([x[0] for x in birth_data])
x_vals = np.array([x[1:9] for x in birth_data])

For your further action. Thank you.

Sincerely,
Yi Xiang
chongyixiang@gmail.com

[2018-02-08 03:35] ychong opened #119 "Suggestion for better test_indices"
Hi I would like to propose a better implementation for 'test_indices':

We can remove the unneeded list casting:

Cleaner/New:
test_indices = np.array(set(range(len(texts))) - set(train_indices))

Old:
test_indices = np.array(list(set(range(len(texts))) - set(train_indices)))

[2018-02-09 14:38] ychong opened #121 "07_NaturalLanguageProcessing_04_SkipGram: Suggestion for line 270 valid_word"
Suggestion for a shorter implementation of line 270 for 'valid_word':

Old:
valid_word = word_dictionary_rev[valid_examples[j]]

Suggestion/New:
valid_word = valid_words[j]

[2018-02-10 03:28] ychong opened #122 "07_NaturalLanguageProcessing_04_SkipGram: Question on Line 272 on -sim"
Apologies for the simple question:

For Line 272, why do we multiply sim matrix by negative?

Why -sim[j, :]?

[2018-02-24 18:28] davidabek1 opened #125 "08_logistic_regression #88 reopen for python 3 coding"
03_Linear_Regression\08_Implementing_Logistic_Regression\08_logistic_regression.py
and also in the ipython notebook, same issue.

using csv writer,
python 3 requires adding ",newline='' ",
in order not to get extra empty line within each line write.

line 40: with open(birth_weight_file, "w"**, newline=''**) as f:

without this update, you get an error after reading the file and trying to load it

[2018-02-27 06:01] fanshius opened #126 "Introductory CNN Model: MNIST Digits TypeError: The value of a feed cannot be a tf.Tensor object. Acceptable feed values include Python scalars, strings, lists, numpy ndarrays, or TensorHandles."
The cause of this error is you are feeding two different type of data: tensor and numpy array. Try to either conver the y label to tensor or convert ran_x to np.array (by np.expand.dims)

[2018-02-27 21:28] Sandy4321 opened #127 "do you have eager use explanations?"
do you have eager use explanations? If not may you recommend some another resource: book  ,link
by the way what another book worth to use?

[2018-03-16 01:40] Bojian commented on #104
I also find out this problem.

[2018-03-21 14:13] nfmcclure commented on #127
I do not.  I may try to add some with the upcoming v2 of the book. I'll add this to future work.

You may look at:
https://github.com/hzy46/TensorFlow-Eager-Examples

Thanks!

[2018-03-21 14:14] nfmcclure commented on #126
Thanks for noticing - I'll update this in the coming few months for the book v2.

[2018-03-21 14:16] nfmcclure commented on #122
Hi Thanks for the question. I'm just starting on updating the book and code for a version 2.  When I get to chapter 7, I'll add an explanation.

[2018-03-21 14:17] nfmcclure commented on #121
Thanks!  I'll update this code when I get to chapter 7 with all the new updates (version 2 of the book coming soon).

[2018-03-21 14:19] nfmcclure commented on #119
Thanks!  I'll look into this.  Do you know where specifically you want this changed?

[2018-03-21 14:20] nfmcclure commented on #118
Thanks! I'll look into this in the next few months for the upcoming v2 of the book/code.

[2018-03-21 19:59] nfmcclure commented on #117
I'll look into this. Thanks!

[2018-03-21 20:01] nfmcclure commented on #116
Ah yes, thanks for bringing this to my attention. I think this is a quick fix with the parameters. I'm starting a book/code v2 over the next few months. Expect this to be fixed some time soon. Thanks!

[2018-03-21 20:02] nfmcclure commented on #115
Thanks for the notice. I found the same bug earlier and couldn't find a quick fix. I do remember there being a pull request that someone made that addressed this issue.  I'm working on a v2 of all the code over the next few months and will update accordingly.  Thanks.

[2018-03-21 20:08] nfmcclure commented on #113
Hi @Keramatfar , Thanks for the question.  I should add a section explaining why we can use the whole dataset here.  I'll add a formal explanation in the notebook during my code rewrite over the next few months (so I'll keep this issue open for now).

But a short explanation is that the word vector methods are not really using the target information to train the embeddings.  Because of this you ca

[2018-03-21 20:10] nfmcclure commented on #112
I think there is now a solution in the current TensorFlow version. I'll be updating the code/notebooks over the next few months. Look for a fix soon.

[2018-03-21 20:14] nfmcclure commented on #111
Hi @louisdv75 ,  Sorry about the late response. I'm just now getting around to updating all the code to current TF versions and Python 3.6.

I'm not entirely sure on your use case. I can add an evaluation script that loads X-values and Y-values from a CSV formatted file and outputs accuracy metrics with the predicted values.

Is that what you are looking for?

[2018-03-21 20:17] nfmcclure commented on #110
Hi @BetterYan ,

Thanks for bringing this to my attention (and sorry about the late reply). This is definitely a typo.  Since it isn't a big bug, I'm going to defer this to when I get around to chapter 6.  I'm starting to go through the code and update it for a version 2 and the current TF versions.  You should see the typo fixed in the upcoming months.  Thanks!

[2018-03-21 20:22] nfmcclure commented on #109
Hi @Jinkeycode , wow, that's quite a typo, sorry about that and the late reply.  I'm just triaging everything now and getting ready to go through and update all the code for a book v2.

I'll update this very soon and you should see a fix in the next few weeks. Thanks again!

[2018-03-21 20:23] nfmcclure commented on #107
Yes of course!  You should see these start to appear in the next few months. Thanks for the suggestion and sorry for the late response.

[2018-03-21 20:25] nfmcclure commented on #106
Thanks for the bug report, @sherlockhoatszx .  And thanks for the workaround, @maxim5 .

I'm just getting around to triaging everything and about to go through and start updating all the code.  I'll see if I can apply the fix (or something else by now) to the code.

[2018-03-21 20:28] nfmcclure commented on #105
Hi @kyunggyuyeol , thanks for the report and sorry for the late reply. I'm just now having time to triage and go through the issues.

This is very strange, TensorFlow does have a windows version.  You may try to install on your own with the instructions found here:

https://www.tensorflow.org/install/install_windows

Then try again.

If you are still running into problems, then I suspect you may n

[2018-03-21 20:28] #105 closed

[2018-03-21 20:31] nfmcclure commented on #104
Hi @tatnguyennguyen ,  This is super interesting! Thanks for finding this.  I'm just now triaging and going through the issues in preparation for a book/code v2.

When I get to the SVM (chapter 4), I will investigate this.  I see your point and you are probably right and I think the fix will be to increase the batch size to the data size.  Although I'll see if I can edit it for smaller batches fir

[2018-03-21 20:34] nfmcclure commented on #103
HI @fbcotter ,  Thanks for this!  I'm just getting around to triaging issues in preparation for a v2-update of the code.

I suspect you are correct.  When I get around to chapter 4, I'll investigate and most likely accept your proposal.  Expect more in the next month or so.  Thanks again!

[2018-03-21 20:36] nfmcclure commented on #102
Hi @FelipeBerrios ,  This is interesting, thanks for finding this-  and sorry for the late reply. I'm just getting around to triaging all the issues in preparation for a v2 of the code.

I'll probably get around to chapter 4 in the next month, so I'll look into this then. Thanks again.

[2018-03-21 20:38] nfmcclure commented on #101
Hi @huang10086 , sorry about the late reply, I'm just now able to get around to triaging the issues now in preparation for a v2 of the code.

Thanks, @T-rain for the fix.

Indeed, the site that hosted the original birthweight data closed it's doors to the public, forcing me to find and host a different version of the data.  I wasn't able to verify that they were the same, and indeed they are not.

[2018-03-21 20:40] nfmcclure commented on #100
Hi @versusnja ,  Thanks for the report.  And sorry about the late reply.  I'm just now getting around to updating the code and triaging the issues.

I'm certain you are correct and when I get around to chapter 7 in the next few months, expect this change to be incorporated.

Thanks again!

[2018-03-21 20:41] nfmcclure commented on #99
Hi @trangtv57 , thanks for the bug report. Sorry about the late reply, I'm just now getting around to traiging the issues in preparation for a code v2 of the book.

I should be getting around to this in the next few months.  Thanks again!

[2018-03-21 20:43] nfmcclure commented on #94
HI @lyan62 and @ruyingghost , Sorry about the bug! (and the late reply).  I'm just now getting around to triaging the issues and updating the code.

@maxim5 , thanks for the fix.  I'll incorporate this (or the most current fix) in to the future code update in the next few months.

[2018-03-21 20:45] nfmcclure commented on #81
I'm going to close this issue for now.

I'm currently starting to overhaul the code to be compatible for TensorFlow v1.6.  Expect changes to this chapter in the next few months.

[2018-03-21 20:45] #81 closed

[2018-03-21 20:45] #78 closed

[2018-03-22 10:05] Keramatfar commented on #113
@nfmcclure, in real world when training a model we don't have access to neither **test text** nor test labels.

[2018-03-23 03:02] huang10086 commented on #101
Hi @nfmcclure ,thanks for your reply!This cookbook gives me a lot of help in ML.

[2018-03-23 16:54] nfmcclure commented on #113
Hi @Keramatfar,

I'm still not sure on the problem.  In any problem, real or not, you have a set of data (just one set).

Then you split the dataset yourself into training and test sets. These are manually created by the problem from the single dataset that you have.

In most ML problems, you train the algorithm on the 'training set' and test it on the 'test set'. Again, both of these sets come fr

[2018-03-23 16:54] #113 closed

[2018-03-25 22:39] nfmcclure commented on #109
This should be fixed now.  Thanks for the notice!

[2018-03-25 22:39] #109 closed

[2018-04-01 18:08] nfmcclure commented on #125
This should be updated now, thanks!

[2018-04-01 18:08] #125 closed

[2018-04-09 01:26] nfmcclure commented on #104
Yes, I find the fix to be to make the batch_size equal to the size of the training dataset.

I think the long run fix would be, as you suggest, to find which indices are selected for the training and only update those in the b-matrix.  But for now, making the batch_size equal to the dataset size is sufficient.

[2018-04-09 01:26] #104 closed

[2018-04-09 01:27] nfmcclure commented on #103
Yes, thanks. I just looked into that and found you are correct.  I've implemented a very similar fix and kept the 'dist' variable terminology in both the *.py and the jupyter notebook.  Thanks again!

[2018-04-09 01:27] #103 closed

[2018-04-12 14:18] bharathbunny opened #128 "Chapter 6, Section: Improving the predictions of linear models has wrong indices."
The dependent variable is in index 0. The factors are in indices 1:8.

After you clean up birth_data, there are empty lists that need to be removed.

[2018-04-20 20:08] nfmcclure commented on #128
Hi @bharathbunny , thanks for bringing this up.  This is a known problem since we've changed where the data come from:
Duplicate: https://github.com/nfmcclure/tensorflow_cookbook/issues/118

I'm working on updating all the code/notebooks for a book v2 now.  I'm on chapter 5 currently.  Ch 6 is next. Expect the code fix in the next few weeks.  Thanks!

[2018-04-26 12:51] nfmcclure commented on #128
This should be fixed now! Thanks.

[2018-04-26 12:51] #128 closed

[2018-04-26 12:51] nfmcclure commented on #118
This should be fixed now, thanks!

[2018-04-26 12:51] #118 closed

[2018-04-26 12:55] nfmcclure commented on #110
This should be fixed now, thanks!

[2018-04-26 12:55] #110 closed

[2018-04-26 12:55] nfmcclure commented on #101
The code should finally be updated, sorry about the delay. Thanks!

[2018-04-26 12:55] #101 closed

[2018-05-17 07:24] wuyongdec opened #129 "05_Working_With_CBOW_Embeddings，loss is always nan"
when I run the demo，output is：
[code]

[2018-05-20 16:05] nfmcclure commented on #129
Thanks for bringing this to my attention.  I'm currently working on updating this chapter this week.  Hopefully a fix will come out soon.

[2018-05-20 20:48] nfmcclure commented on #122
I'll add this to the notebook and next version of the book, but here is an explanation now:

The argsort() method sorts from least to greatest. Since we have a similarity matrix, we want to sort from greatest similarity to least similarity.  If we take the negative of all the numbers before sorting, that will sort the indices of the numbers in the correct order.  I hope that helps!

[2018-05-20 20:48] #122 closed

[2018-05-20 21:10] nfmcclure commented on #121
I'm about to push a fix.  I have no idea why this is.  But if you lower the learning rate to 0.25 it seems to work.

Change:
`model_learning_rate = 0.25`

You may also consider adding:
`tf.set_random_seed(42)'
`np.random.seed(42)`

I got it to run that way.  Look for the code update later today.

[2018-05-20 21:10] #121 closed

[2018-05-20 21:11] nfmcclure commented on #129
I'm about to push a fix. I have no idea why this is. But if you lower the learning rate to 0.25 it seems to work.

Change:
`model_learning_rate = 0.25`

You may also consider adding:
`tf.set_random_seed(42)`

`np.random.seed(42)`

I got it to run that way. Look for the code update later today.

[2018-05-20 21:11] #129 closed

[2018-05-20 23:29] nfmcclure commented on #121
This should be fixed now.

[2018-05-20 23:30] nfmcclure commented on #116
This should be fixed. Please repull and try again with the updated code.  Let me know / reopen if you still have issues.

[2018-05-20 23:30] #116 closed

[2018-05-20 23:31] nfmcclure commented on #100
This should be updated and fixed now. Thanks!

[2018-05-20 23:31] #100 closed

[2018-05-20 23:32] nfmcclure commented on #99
This should be fixed now. Try repulling the updated code. Thanks!

[2018-05-20 23:32] #99 closed

[2018-05-20 23:55] nfmcclure commented on #111
Hi @louisdv75 ,  thanks for the suggestion. Sorry for the lateness, but you can find evaluation code for new points in the Multiple Layer Network in chapter six now. Thanks!  Let me know if you have any questions by reopening this issue.

[2018-05-20 23:55] #111 closed

[2018-05-23 10:39] EtoDemerzel0427 opened #130 "tf.contrib.learn.preprocessing will be deprecated"
since `tf.contrib.learn.preprocessing` will be deprecated in future version of TensorFlow, the code in chapter 7 about the bag-of-word should be updated by using tf.data or something else.

[2018-05-23 14:28] nfmcclure commented on #130
Thanks @EtoDemerzel0427  for bringing this up.  I'll see what I can do.

[2018-06-29 01:48] idoit opened #134 "questions about 01_Introduction/04_Working_with_Matrices/"
the code is :
A = tf.truncated_normal([2,3])
print(sess.run(A))
result:
[[-0.09611617  1.50501597  0.42943364]
 [ 0.04031758 -0.66115439 -0.91324311]]
B = tf.fill([2,3], 5.0)
print(sess.run(B))
result:
[[ 5.  5.  5.]
 [ 5.  5.  5.]]
print(sess.run(A+B))
result:
[[ 3.69020724  5.68584728  4.3044405 ]
 [ 6.57195997  3.92733717  5.5748148 ]]

why is result?

my result A+B is [[4.90388283  6.5.501597

[2018-06-29 17:18] nfmcclure commented on #134
Hello, @idoit ,

Thanks for the question.  I believe the answer is because there is randomness in the `tf.truncated_normal()` function.  You'll get different answers every time you run the code.

There is future work that will fix the random-seeds for each script so that all the results will be the same.  I'm closing this issue, please feel free to re-open if you need to. Thanks.

[2018-06-29 17:18] #134 closed

[2018-07-02 20:04] nfmcclure commented on #126
This should be fixed. Please repull and try again. If you still have an issue, feel free to reopen and also to let me know your TF version, Python version, and OS.  Thanks!

[2018-07-02 20:04] #126 closed

[2018-07-02 20:06] nfmcclure commented on #115
I have revamped the style net.  I couldn't get mine to work at all.

Instead, I have adapted the method from here: https://github.com/anishathalye/neural-style   .  The way the feed-forward features and loss is calculated is much better.

The link above also has better smoothing and styling.  I recommend using the linked version.  The fixed version is a bit basic at the moment and really touchy on

[2018-07-02 20:06] #115 closed

[2018-07-16 07:56] erichooi opened #135 "Formula error at Chapter 4 (Working with Linear SVM)"
![screen shot 2018-07-16 at 3 50 36 pm](https://user-images.githubusercontent.com/14349940/42747805-6ba46a7a-8910-11e8-926d-0f25b765ba3d.png)

Is that suppose to be **-** instead of **+**? This is a formula that I found on Wikipedia.

![screen shot 2018-07-16 at 3 54 20 pm](https://user-images.githubusercontent.com/14349940/42747878-ab0f7114-8910-11e8-95ad-0682a5c93f4e.png)

[2018-07-16 16:41] nfmcclure commented on #135
Hi @erichooi ,
Thanks for asking.  I believe just a substitution of a negative b for a positive b will make the formulas equivalent.

But it is important in the results to remember that the b is negative and not positive.  I'll recheck the code for this. (I'll keep this issue open until I can check it).

But the formulas are equivalent under a negative-b substitution.

[2018-07-20 10:27] MathewLi9527 opened #136 "model_output = tf.subtract(tf.matmul(x_data, A), b) should be tf.add"
In linear SVM implementation of chapter 4,
model_output = tf.subtract(tf.matmul(x_data, A), b)
should be tf.add(tf.matmul(x_data, A), b)

[2018-07-28 16:05] ychong opened #138 "Possible Error in build_vocab - 09_Recurrent_Neural_Networks/03_Implementing_LSTM/03_implementing_lstm.py"
Hi,

There appears to be a possible error in the build_vocab method (line 85) for the LSTM implementation in Chapter 03.

The build_vocab method seems to be mapping the words to an arbitrary increasing indexing instead of the actual word counts.

If the intention is to create both vocab2ix and ix2vocab dictionaries of equal lengths, then it might make more sense to first sort the words (keys) by t

[2018-07-28 16:14] ychong commented on #122
Thanks for the clarification and reply Nick.

Really appreciate it.

On Wed, Mar 21, 2018 at 10:17 PM, Nick <notifications@github.com> wrote:

[2018-07-28 16:17] ychong commented on #119
Hi Nick thanks for replying. Yes I didn't make it clear earlier. It's just clearer syntax. You can change it under Chapter 07 Neural Network - improving_linear_regression.py, and other similar implementation as well.

[2018-07-31 14:44] nfmcclure commented on #112
This should be fixed now. Try the new code. If it doesn't work, feel free to re-open and also post your Python version, pickle version, and TensorFlow version, along with what operating system you are using.

[2018-07-31 14:44] #112 closed

[2018-07-31 14:45] nfmcclure commented on #94
This should be fixed now.  Please check the current code.  If you are still running into issues, feel free to re-open.  If you re-open, also post your Python and TensorFlow versions.  Thanks!

[2018-07-31 14:45] #94 closed

[2018-08-10 02:24] #136 closed, assigned to nobody

[2018-08-10 02:28] nfmcclure commented on #135
Just went to go fix this.  I see what you mean now.  The code is correct, but the formula is wrong.  It's fixed in the jupyter notebook finally.  I'm going to close this. Feel free to reopen if I missed something.

[2018-08-10 02:28] #135 closed

[2018-08-10 02:39] nfmcclure commented on #138
Hi @ychong !  Thanks for the question.
The important line is this:

`word_counts = {key:val for key, val in word_counts.items() if val>min_word_freq}`

This will limit the word-count dictionary to just words that appear more often than our cutoff (min_word_freq).

After that, it doesn't matter the order of words in our dictionary as long as both the ix2word and word2ix dictionaries map to the same

[2018-08-10 02:39] #138 closed

[2018-08-20 07:26] ucasiggcas opened #140 "How to save KNN model and use it next testset？"
Hello，
Have tried to save the model use tf.train.Saver()，but end with failure
ValueError: No variables to save
Could U propose some way to solve it ？
Thx

[2018-08-20 16:30] nfmcclure commented on #140
Hi @ucasiggcas ,  Thanks for the feature request.  You're correct that we should have a way to do saving/loading.  I'll see what I can do in the next month or so.  Currently I'm wrapped up in a rewrite for version 2 of the book, but will get to this soon.

[2018-08-20 16:32] nfmcclure commented on #80
Hi @ilame ,  sorry for the delay.  I'm currently wrapped up in rewriting the book for a version 2.  I'll get around to the enhancements (like this one) at the start of October.

[2018-08-22 02:24] joonable opened #141 "Since the first training is done, document embedding hasn't been trained"
Hello. I'm trying to use doc2vec algorithm in [07_Natural_Language_Processing/07_Sentiment_Analysis_With_Doc2Vec/07_sentiment_with_doc2vec.py.](https://github.com/nfmcclure/tensorflow_cookbook/tree/master/07_Natural_Language_Processing/07_Sentiment_Analysis_With_Doc2Vec)

I understood that first of the training is to **train word and doc embedding** and second one is for **text classification**, s

[2018-08-26 16:59] nfmcclure commented on #141
Hi @joonable ,
Thanks for asking.

I just checked this out briefly.  I think I'll need more information as I cannot replicate the problem.  For example, if I run the code through the variable initialization and create a feed-dictionary, then I run the following commands:
[code]

This shows me that the variable `doc_embed` is changing due to the training.  Are you seeing something different?  If so

[2018-08-31 20:50] ilame commented on #80
Hi Nick,

Thank you for remembering the issue.
I am still interested in testing the algorithm with Tendorflow using cross
validation
I would be grateful if you let me know when it is done.

Kind Regards
Ilham

On Mon, 20 Aug 2018 at 17:32, Nick <notifications@github.com> wrote:

[2018-09-05 11:21] vanipolnedi opened #142 "on what basis do we classify whether msg is spam or ham"
i am new to rnn ...can u anyone please tell me where to give input msg and find whether it is spam or ham

[2018-09-05 14:54] nfmcclure commented on #142
Hi @vanipolnedi ,
Thanks for the message.
Have you looked and read through the jupyter notebook here ([notebook link here](https://github.com/nfmcclure/tensorflow_cookbook/blob/master/09_Recurrent_Neural_Networks/02_Implementing_RNN_for_Spam_Prediction/02_implementing_rnn.ipynb) ) ?

If you're asking about how RNNs work in general, I recommend reading through these resources:

- http://www.wildml.

[2018-09-05 14:54] #142 closed

[2018-09-05 15:19] wtingsam opened #143 "DNN Linear regression"
Nick, the cookbook and your website are very nice. I learned a lot from it.
I think you are very familiar to machine learning. So I have no way to contact you but here.

I have been doing deep learning CNN regression for about half year. I tried many ways from selecting/normalisation of targets and feature/making sure the labels are uniform distribution to scanning of all sorts of hyper parameters

[2018-09-06 03:59] vanipolnedi commented on #142
@nfmcclure  thanks for the immediate response . in that code, i am unable to understand where to give input msg to test whether it is spam or ham.

[2018-09-06 05:24] padmaja9 opened #144 "Having problem in predicting the message"
I'm really a beginner with tensor flow and in all of this field.i was asked to do a spam detection using Recurrent Neural Network.I took a reference of your code.
I went through this code https://github.com/nfmcclure/tensorflow_cookbook/blob/master/09_Recurrent_Neural_Networks/02_Implementing_RNN_for_Spam_Prediction/02_implementing_rnn.ipynb
it is working fine.but i didn't understand where to give

[2018-09-06 16:21] #141 closed, assigned to nfmcclure

[2018-09-06 16:28] nfmcclure commented on #143
Hi @wtingsam ,
Thanks for the message.  I'm glad you find the book/site useful.

I've had some similar problems with modeling in the past.  There are a few things to consider, when the predictions cluster around the mean/median too much.

1. What does the distribution of targets for the training data look like? If the training data tends to be clustered, then the predictions will be as well.  Not

[2018-09-06 16:36] nfmcclure commented on #144
Hi @padmaja9 ,
Thanks for the message!

I haven't gotten around to added an evaluation part for new data at the end of the notebook.  It's a great idea and I will see if I can do that this weekend.

If you can't wait, here's what it would entail:
1. Have your input text cleaned with the `clean_text()` function.
2. Process cleaned text into numerical vectors via the `vocab_processor`  like the line

[2018-09-07 06:00] padmaja9 commented on #144
Hi @nfmcclure ,
Thanks for the response.
I added the evaluation part to my code but i'm unable to get the output correctly.It would be great if you could add this evaluation part this weekend.

[2018-09-07 06:01] padmaja9 commented on #144
Hi @nfmcclure  ,
Thanks for the response.
I added the evaluation part to my code but i'm unable to get the prediction correctly.It would be great if you could add this evaluation part this weekend.

[2018-09-08 14:39] nfmcclure commented on #144
Hi @padmaja9 ,
Please checkout the bottom of the jupyter notebook:
https://github.com/nfmcclure/tensorflow_cookbook/blob/master/09_Recurrent_Neural_Networks/02_Implementing_RNN_for_Spam_Prediction/02_implementing_rnn.ipynb

I've added some code to do predictions on new texts using the model that is in memory.  I hope that helps.

I'm going to close this issue. If you have further questions, feel f

[2018-09-08 14:39] #144 closed

[2018-09-08 14:39] #143 closed

[2018-09-12 06:35] vanipolnedi opened #146 "how to add model persistance to this spam filter using pickle"
can anyone please suggest me how to add pickling (model persistance) to this spam filter. thanks in advance :)

[2018-09-13 22:29] nfmcclure commented on #146
Hi @vanipolnedi ,
Thanks for the request, I think we should be able to add this.  Were you set on using pickle?  Pickle tends to be very very sensitive to python versions and pickle versions (and object versions).  I think it would be better to create some TensorFlow model objects for loading after training.  I can get started on that this weekend.  Are you set on pickle?  I think the TensorFlow s

[2018-09-15 03:34] ArrowYL opened #148 "I got a problem with Tensorflow + SVM + MNIST after learning your code"
Sorry my English is not well but i am really want to solve this problem so i come for your help.
After learn your code where (**tensorflow_cookbook/04_Support_Vector_Machines/06_Implementing_Multiclass_SVMs/)**

I am a greenhand for Tensorflow.
Rencently I attempt to separate the MNIST classes with TensorFlow + SVM
Here is my code:

`import matplotlib.pyplot as plt
import numpy as np
import tensor

[2018-09-15 18:42] AlexHMJ opened #149 "How to use non-linear multi-class SVM to predict class for new data?"
I have modified "ch4 - Implementing Multiclass SVMs" code to use my own data set to train the classifier. The training process is good and so for the testing result. But I got some problems when I want to predict the new data that are without the labels.
I see three lines of code in "ch4 - Implementing Multiclass SVMs" which use those lines below to estimate the training acc :

prediction_output =

[2018-09-16 14:35] vanipolnedi commented on #146
@nfmcclure thank you for the reply. it will be very useful for us if u add pickling to the spam filter ( which uses rnn)

[2018-09-17 00:29] ArrowYL commented on #149
I am really confused too.so I post a question in issue #148 I am working on it.May be we can solve it from SVM theory.

[2018-09-17 01:40] nfmcclure commented on #149
Hi @AlexHMJ and @ArrowYL ,

Thanks for bringing this up.  I'm quite busy in the next month, but I can check this out and see if I can extend it to the MNIST data in a few weeks.  Let me know if you make any progress in the mean time.

[2018-09-17 01:41] nfmcclure commented on #148
Hi @ArrowYL ,

I was able to replicate this issue.  Unfortunately, I'm quite busy over the next month.  After things calm down I'll take a look into the details.  Let me know if you are able to get this fixed in the mean time.

[2018-09-17 01:53] ArrowYL commented on #148
thank you for the reply.if I solve this one day I will tell you the details.And i will keep reading your GitHub,
Thank you again!

[2018-10-09 00:45] klchang commented on #149
[code]
In my humble opinion,  the naming '**y_target**' in the prediction part is a little confusing, because its meanings in '**prediction_output**' and '**accuracy**' may be different: the former represents the target of training data, but the latter may represent the target of training data or that of test data.

[2018-10-30 11:37] zmssqqli opened #151 "求助，我想配置这套代码，阿里云最近双11活动一折可以买云服务器，我该买哪一种呢，大家帮我看下？"
地址在这里： https://m.aliyun.com/act/team1111/#/share?params=N.9g4CZ2TwSh.f3afagaq
朋友分享给我的，登陆淘宝号进去发现折扣很大，优惠了很多，很心动，想入手一款自己学习用，麻烦大家帮我看下选择哪种划算，谢谢

[2018-10-30 11:37] zmssqqli commented on #151
多谢啦

[2018-11-13 18:15] femosh opened #153 "Introductory CNN Model: TypeError: Value passed to parameter 'shape' has DataType float32 not in list of allowed values: int32, int64"
This generate the TypeError:
full2_weight = tf.Variable(tf.truncated_normal([fully_connected_size1, target_size],
                                               stddev=0.1, dtype=tf.float32))
full2_bias = tf.Variable(tf.truncated_normal([target_size], stddev=0.1, dtype=tf.float32))

target_size  is wrong, it is 2.0 instead of 10 (9+1).
However, the problem originated from:
from tensorflow.examples

[2018-11-13 18:16] femosh commented on #153
How do you create a merge in Github?

[2018-11-17 19:55] mehdiborji opened #154 "Chapter 11 Keras example"
In this example:
[06_Using_TensorFlow_with_Keras.py](https://github.com/nfmcclure/tensorflow_cookbook/blob/master/11_More_with_TensorFlow/06_Using_TensorFlow_with_Keras/06_Using_TensorFlow_with_Keras.py)
I noticed Keras library is not explicitly imported, as such lines like `from keras.utils import to_categorical` won't run unless `keras.utils` is changed to `tensorflow.keras.utils`; same issue fo

[2018-12-17 09:51] Gourmentic opened #158 "Kernel SVM training with data in a fixed sequence"
Hello, I find a very interesting thing: after changing the code of kernel SVM as below, a better training progress and a better performance is shown.

#rand_index = np.random.choice(len(x_vals), size=batch_size)
#rand_x = x_vals[rand_index]
#rand_y = np.transpose([y_vals[rand_index]])
rand_x = x_vals
rand_y = y_vals.reshape(-1, 1)

![image](https://user-images.githubusercontent.com/23225921/500782

[2019-02-05 10:05] kh-cheng opened #159 "Chapter 8 Example: Implementing a Simpler CNN"
I tried to run the file 02_introductory_cnn in chapter 8. But I find an error. In train_dict = {x_input: rand_x, y_target: rand_y}, y_target is of shape=(batch_size), but rand_y is of shape=(batch_size, 10)

[2019-04-10 03:21] Cumberbatch08 commented on #130
who can give me a example?

[2019-04-26 02:12] anbo1024 commented on #148
I have encountered the same problem with a test accuracy of 100%. Is this problem solved by you?

[2019-04-29 11:36] anbo1024 commented on #148
I have encountered the same problem with a test accuracy of 100%. Is this problem solved by you?

[2019-05-08 01:17] pkxpp opened #160 "chapter 8 Example: Implenmenting an Advanced CNN make python stopped working"
when i use the tensorflow 1.12 to run the code, but the pyhont stopped working, can you give me some help?Thanks very much

* even though i modify the generation_num to 1
* and the example of simple cnn work well.

[code]

[2019-05-14 04:03] pkxpp commented on #160
I have sove the problem by replacing of the code of reading data, the code is frome [official website](https://github.com/tensorflow/models/blob/r1.12.0/tutorials/image/cifar10/cifar10_input.py)

[code]

[2019-05-14 04:04] #160 closed

[2019-05-16 07:33] anbo1024 commented on #149
I have encountered the same problem with a test accuracy of 100%. Is this problem solved by you?

[2019-05-20 02:43] anbo1024 opened #161 "Chapter 4 Multi-class SVM to predict Mnist dataset"
Hi,
     I want to apply   04_Support_Vector_Machines  to Mnist dataset.
I found that I couldn't use the following function for testing (because it contained lable):

prediction_output = tf.matmul(tf.multiply(y_target, b), pred_kernel)
prediction = tf.argmax(prediction_output - tf.expand_dims(tf.reduce_mean(prediction_output, 1), 1)
Then，you gave a way to predict new data：

test_predictions] = ses

[2019-05-27 02:18] anbo1024 commented on #158
@Gourmentic
I also found this problem. Have you solved it?

[2020-02-08 11:09] 12744746 commented on #119
Hi Everyone
could you please let me know for the classification part is the following data set suitable to build classification model for point Cloud.
 https://shapenet.cs.stanford.edu/media/modelnet40_ply_hdf5_2048.zip,

thanks

[2020-09-10 12:09] qwer10 opened #169 "how to explain this line? Ch4,04_svm_kernels.py,line71:prediction = tf.sign(prediction_output - tf.reduce_mean(prediction_output))"
Ch4,04_svm_kernels.py,line71:
`prediction = tf.sign(prediction_output - tf.reduce_mean(prediction_output))`
I can't find that line in any book/posts.
Instead, my book said when you predict, you should calculate the bias first.
Who can explain that line? Thank you very much!

[2021-10-26 09:58] Gourmentic commented on #158
SGD can not be used as optimizer of Kernel SVM directly, the mentioned code in the book should be changed.